<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Customers</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

  </head>
  <body>
      <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="tab-content">
						<div class="tab-pane active" id="panel-688178">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>
											Id
										</th>
										<th>
											Name
										</th>
										<th>
											Address
										</th>
										<th>
											Phone
										</th>
										<!-- <th></th>-->
									</tr>
								</thead>
								<tbody>
									<tr th:each="customer : ${customers}">
										<td th:text="${customer.getId()}"></td>
										<td th:text="${customer.getName()}"></td>
										<td th:text="${customer.getAddress()}"></td>
										<td th:text="${customer.getPhone()}"></td>
										<td>
											<a class="btn btn-primary" href="#" th:href="${'/customer/' + customer.id + '/modify?id=' + customer.getId()}">Modify</a>
										</td>
										<td>
											<a class="btn btn-primary" href="#" th:href="${'/customer/' + customer.id + '/delete?id=' + customer.getId()}">Delete</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--<div class="tab-pane" th:each="app : ${sandbox.apps}" th:id="${'panel-' + app.id}">
							<p th:text="${app.description}"></p>
						</div>-->
					</div>
				</div>
			</div>
		</div>
  </body>
</html>
